<div id="main-content-wp" class="clearfix detail-product-page">
  <div class="wp-inner">
    <div class="secion" id="breadcrumb-wp">
      <div class="secion-detail">
        <ul class="list-item clearfix">
          <li>
            <a href="" title="">Trang chủ</a>
          </li>
          <li>
            <a href="" title="">Điện thoại</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-content fl-right">
      <div class="section" id="detail-product-wp">
        <div class="section-detail clearfix">
          <div class="thumb-wp fl-left d-flex justify-content-center pt-5">
            <a href="" title="" id="main-thumb">
              <img id="zoom" src="{{ product.product_image }}" />
            </a>
          </div>
          <div class="info fl-right">
            <h3 class="product-name">{{ product.name }}</h3>
            <div class="desc">
              <p>Bộ vi xử lý :Intel Core i505200U 2.2 GHz (3MB L3)</p>
              <p>Cache upto 2.7 GHz</p>
              <p>Bộ nhớ RAM :4 GB (DDR3 Bus 1600 MHz)</p>
              <p>Đồ họa :Intel HD Graphics</p>
              <p>Ổ đĩa cứng :500 GB (HDD)</p>
            </div>
            <div class="num-product">
              <span class="title">Sản phẩm: </span>
              <span class="status">Còn hàng</span>
            </div>
            <div class="price">
              <p class="price-new" id="priceNewDetail">
                {{ product.price_new }}đ
              </p>
              <p class="price-old m-0" id="priceOldDetail">
                {{ product.price_old }}đ
              </p>
            </div>

            <div id="num-order-wp">
              <a title="" id="minus"><i class="fa fa-minus"></i></a>
              <input type="text" name="num-order" value="1" id="num-order" />
              <a title="" id="plus"><i class="fa fa-plus"></i></a>
            </div>
            <a href="cart" title="Thêm giỏ hàng" class="add-cart"
              >Thêm giỏ hàng</a
            >
          </div>
        </div>
      </div>
      <div class="section" id="post-product-wp">
        <div class="section-head">
          <h3 class="section-title">Mô tả sản phẩm</h3>
        </div>
        <div class="section-detail">
          <p>
            {{ product.description }}
          </p>
        </div>
      </div>
    </div>
    <div class="sidebar fl-left">
      <div class="section" id="category-product-wp">
        <div class="section-head">
          <h3 class="section-title">Danh mục sản phẩm</h3>
        </div>
        <div class="secion-detail">
          <ul class="list-item">
            <li>
              <a href="category_product" title="">Điện thoại</a>
              <ul class="sub-menu">
                <li>
                  <a href="category_product" title="">Iphone</a>
                </li>
                <li>
                  <a href="category_product" title="">Samsung</a>
                  <ul class="sub-menu">
                    <li>
                      <a href="category_product" title="">Iphone X</a>
                    </li>
                    <li>
                      <a href="category_product" title="">Iphone 8</a>
                    </li>
                    <li>
                      <a href="category_product" title="">Iphone 8 Plus</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="category_product" title="">Oppo</a>
                </li>
                <li>
                  <a href="category_product" title="">Bphone</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="category_product" title="">Máy tính bảng</a>
            </li>
            <li>
              <a href="category_product" title="">laptop</a>
            </li>
            <li>
              <a href="category_product" title="">Tai nghe</a>
            </li>
            <li>
              <a href="category_product" title="">Thời trang</a>
            </li>
            <li>
              <a href="category_product" title="">Đồ gia dụng</a>
            </li>
            <li>
              <a href="category_product" title="">Thiết bị văn phòng</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="section" id="banner-wp">
        <div class="section-detail">
          <a href="" title="" class="thumb">
            <img src="./assets/public/images/banner.png" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
