<section class="updateAccount">
  <div class="container">
    <div class="form__account">
      <div class="account__inner">
        <div class="account__inner--title">
          <h1 class="heading-title">CẬP NHẬT THÔNG TIN</h1>
        </div>
        <form id="form_reg" (ngSubmit)="onSubmit()" [formGroup]="userForm">
          <div class="row-form__group">
            <div class="form__group">
              <label for="username">Tên đăng nhập</label>
              <input
                type="text"
                name="username"
                id="username"
                readonly
                placeholder="Username..."
                autocomplete="username"
                formControlName="username"
                [(ngModel)]="user.username"
              />
            </div>

            <div class="form__group">
              <label for="fullname">Họ tên</label>
              <input
                type="text"
                name="fullname"
                id="fullname"
                placeholder="Fullname..."
                formControlName="fullname"
                [(ngModel)]="user.fullname"
              />
              <small
                *ngIf="
                  !userForm.get('fullname')?.valid &&
                  userForm.get('fullname')?.touched
                "
              ></small>
            </div>
          </div>

          <div class="row-form__group">
            <div class="form__group">
              <label for="email1">Email</label>
              <input
                type="email"
                name="email"
                id="email1"
                placeholder="Email..."
                formControlName="email"
                [(ngModel)]="user.email"
              />
            </div>

            <div class="form__group">
              <label for="phone">Số Điện thoại</label>
              <input
                type="text"
                name="phone"
                id="phone"
                placeholder="Số điện thoại..."
                formControlName="phone"
                [(ngModel)]="user.phone"
              />
            </div>
          </div>

          <div class="form__group">
            <label for="address">Địa chỉ</label>
            <input
              type="text"
              name="address"
              id="address"
              placeholder="Địa chỉ..."
              formControlName="address"
              [(ngModel)]="user.address"
            />
          </div>

          <div class="row-form__group">
            <div class="form__group">
              <label for="password">Mật khẩu</label>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Password"
                autocomplete="current-password"
                formControlName="password"
                [(ngModel)]="user.password"
              />
            </div>

            <div class="form__group">
              <label for="confirm_password">Xác nhận mật khẩu</label>
              <input
                type="password"
                name="confirm_password"
                id="confirm_password"
                value=""
                placeholder="Password"
                formControlName="confirm_password"
                [(ngModel)]="user.confirm_password"
              />
            </div>
          </div>
          <input
            type="submit"
            name="btn-reg"
            class="btn user__cta"
            id="btn-login"
            value="CẬP NHẬT"
          />
        </form>
      </div>
      <div class="sidebar__user">
        <div class="avatar__user">
          <img
            *ngIf="isValid; else templateName"
            src="public/images/user/user2.jpg"
            alt=""
          />
          <ng-template #templateName>
            <img
              src="https://png.pngtree.com/png-vector/20190805/ourlarge/pngtree-account-avatar-user-abstract-circle-background-flat-color-icon-png-image_1650938.jpg"
              alt=""
            />
          </ng-template>
        </div>
        <h2 class="subtitle__user"></h2>
      </div>
    </div>
  </div>
</section>
