<div id="site">
  <div id="container">
    <app-header></app-header>

    <router-outlet></router-outlet>

    <app-footer></app-footer>
  </div>
  <div id="menu-respon">
    <a href="home" title="" class="logo">VSHOP</a>
    <div id="menu-respon-wp">
      <ul class="" id="main-menu-respon">
        <li>
          <a href="home" title>Trang chủ</a>
        </li>
        <li>
          <a href="category_product" title>Điện thoại</a>
          <ul class="sub-menu">
            <li>
              <a href="category_product" title="">Iphone</a>
            </li>
            <li>
              <a href="category_product" title="">Samsung</a>
              <ul class="sub-menu">
                <li>
                  <a href="category_product" title="">Iphone X</a>
                </li>
                <li>
                  <a href="category_product" title="">Iphone 8</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="category_product" title="">Nokia</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="category_product" title>Máy tính bảng</a>
        </li>
        <li>
          <a href="category_product" title>Laptop</a>
        </li>
        <li>
          <a href="category_product" title>Đồ dùng sinh hoạt</a>
        </li>
        <li>
          <a href="blog" title>Blog</a>
        </li>
        <li>
          <a href="#" title>Liên hệ</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="btn-top"><img src="public/images/icon-to-top.png" alt="" /></div>
  <div id="fb-root"></div>
</div>
